/*UTILITIES*/


/*hide elements from browser but show for doc outline*/

.hidden {
    display: none;
}


/* Site Styles */

#siteContainer {
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER STYLES */

#mainHeader {
    background-color: #313131;
}

#logo img {
    height: 75px;
    width: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

#mainNav ul,
#headerSocials ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#mainNav ul li {
    margin: 0 30px;
}

#headerSocials ul li {
    margin: 0 26px;
}

.navbar-toggle {
    display: none;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navLink:hover {
    text-decoration: underline;
    text-decoration-color: #F39302;
}

.selected a {
    text-decoration: underline;
    text-decoration-color: #F39302;
}

.socialLink,
.socialLink a,
.socialLink a:visited,
.socialLink a i {
    border: none !important;
    text-decoration: none !important;
}

.socialLink i {
    display: flex;
    width: 35px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.socialLink i:hover {
    color: #F39302;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hero.png);
    background-size: cover;
    height: 950px;
}

#heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroText img {
    height: 430px;
    width: auto;
}

#heroText .button {
    margin-top: 105px;
    flex-grow: 0;
    width: 225px;
    padding: 20px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    transition: all 300ms;
}

#heroText .button:hover {
    box-shadow: 12px 12px 2px 1px rgba(243, 147, 2);
    background-color: #313131;
    border: none;
    color: #fff;
}


/*About Us Styles */

#aboutUs img {
    width: 572px;
    height: auto;
    border: 2px solid #F39302;
}

#aboutUs {
    overflow: hidden;
    box-sizing: border-box;
    padding: 140px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textWrap {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    padding-right: 300px;
}

#aboutUs h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 60px;
    border-bottom: 2px solid #F39302;
}

#aboutUs h3 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #707070;
    margin-bottom: 36px;
}

#aboutUs p {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #707070;
    line-height: 1.75;
}


/* Styling for daily specials */

#dailySpecials {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dailySpecials ul {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin-top: 85px;
    margin-bottom: 85px;
}

#dailySpecials ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 30px 45px;
    box-sizing: border-box;
}

#dailySpecials ul li:nth-child(odd) {
    border: 2px solid #F39302;
}

.headerTitle {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 500px);
    transform: translateX(-50%);
}

@media (max-width: 1600px) {
    .headerTitle {
        left: 50%;
    }
}

.imageHeader {
    position: relative;
    background-image: url(../images/drink_banner_beer.jpg);
    height: 280px;
    width: 100%;
    background-size: cover;
}

.specialsTxt {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #707070;
    padding-left: 30px;
}

.specialsDay {
    flex-basis: 280px;
    flex-grow: 0;
    flex-grow: 0;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
}

#checkoutEvents {
    display: flex;
    justify-content: flex-end;
    max-width: 1300px;
    width: 100%;
    padding: 25px;
    margin-bottom: 50px;
}

#checkoutEvents a {
    font-size: 30px;
    color: #707070;
    font-weight: bold;
    text-decoration: none;
}

#checkoutEvents a:hover {
    color: #F39302;
}


/* Styling for menu */

.pageTitle {
    margin-top: 60px;
    font-weight: bold;
    margin-bottom: -15px;
    text-align: center;
    width: 100%;
    font-size: 100px;
    color: #313131;
}

#snacks,
#sharables {
    display: flex;
    flex-direction: column;
}

#snackHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/food_banner_nacho.jpg);
}

#sharablesHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/food_banner_cheese.jpg);
}

#entreesHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/food_banner_burger.jpg);
}

#beerHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/drink_banner_steam.jpg);
}

#wineHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/drink_banner_wine.jpg);
}

#mixedHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/drink_banner_blue.jpg);
}

#connectHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/connect_banner.jpg);
}

#eventsHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/event_banner_cheers.jpg);
}

.upcomingHeader {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/event_banner_dice.jpg);
}

.menuItemsContainer {
    margin: 60px 40px 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menuItem {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    flex: 0 1 30%;
    box-sizing: border-box;
}

.menuItemName {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #707070;
    line-height: 1.75;
}

.menuItemDescription,
.menuItemPrice {
    font-size: 25px;
    color: #707070;
    text-decoration: none;
    line-height: 1.5;
}

.menuItemFact,
.contactText,
.addressItem a,
.addressItem {
    font-size: 25px;
    color: #707070;
    text-decoration: none;
}

.addressItem a:hover {
    color: #F39302;
}

#wine .menuItemFacts {
    line-height: 3 !important;
}

.submitContainer {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -10px;
}

#submit {
    background-color: #F39302;
    border-color: #F39302;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    font-weight: bold;
}

#submit:hover {
    background-color: #313131;
    border-color: #fff;
    color: #fff;
}


/* contact form styles */

#letsConnect {
    margin: 40px 00;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    line-height: 1.75;
}

.connectContainer {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contactInfo,
#contactUs {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
}

#visitUs address {
    display: flex;
    flex-direction: column;
}

.contactTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#contactForm form {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: #313131;
    border-radius: 4px;
    justify-content: space-around;
    margin: 40px 0;
    padding: 40px 0;
    box-shadow: 12px 12px 2px 1px rgba(243, 147, 2);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.messageArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.messageArea textarea {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding: 10px;
    color: #313131;
}

dl {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

dt,
dd {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
}

#comments {
    width: 100%;
    height: 250px;
    resize: none;
}

.contactInfo input {
    border: none;
    border-bottom: 3px solid #fff;
    height: auto;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    padding-bottom: 5px;
    color: #fff;
    -webkit-transition: border-color 300ms;
    transition: border-color 300ms;
    margin-bottom: 40px;
    font-size: 20px;
}

.contactInfo input:focus,
.contactInfo input:focus-within {
    border-color: #F39302;
    outline: none;
}


/* Footer Styling */

#mainFooter {
    background-color: #313131;
    color: #fff;
}

#mainFooter .navBar {
    flex-wrap: wrap;
}

#footerLogo img {
    height: 75px;
    width: auto;
}

#mainFooter ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

#mainFooter .navLink {
    font-size: 15px;
}

#mainFooter li {
    padding-top: 10px;
}

#footerAddress a {
    text-decoration: none;
    color: #fff;
}

#footerAddress a:hover {
    text-decoration: underline;
    text-decoration-color: #F39302;
}


/* styling subscribe */

.emailInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.formGroup {
    display: flex;
}

input {
    background-color: transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    border-color: #fff;
    height: 40px;
    width: 300px;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
}

input::placeholder {
    padding: 20px;
}

#footerSubscribe button {
    background-color: #F39302;
    /* height: 40px; */
    width: 80px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #F39302;
    font-weight: bold;
}

#footerSubscribe button:hover {
    background-color: #313131;
    border-color: #fff;
    color: #fff;
}

#copyRight {
    flex-basis: 100%;
}

#beer .menuItemFact,
#mixedDrinks .menuItemFact {
    line-height: 1.5;
}

@media screen AND (max-width:1400px) {
    .siteContainer {
        width: 100%;
    }
    .navBar {
        flex-wrap: wrap;
        height: auto;
        justify-content: flex-end;
    }
    #logo {
        margin-right: auto;
        justify-self: flex-start;
    }
    #mainNav {
        display: none;
        flex-direction: column;
        width: 100%;
        order: 1;
        flex-basis: 100%;
    }
    #mainNav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #mainNav ul li {
        flex-direction: column;
        display: block;
        padding: 20px;
    }
    .navLink {
        font-size: 40px;
    }
    .navbar-toggle {
        padding: 15px;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
        display: block;
    }
    .active {
        display: block !important;
    }
    .menuItemContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menuItem {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    #aboutUs {
        display: flex;
        flex-direction: column;
    }
    .textWrap {
        padding: 0;
    }
    #aboutUs img {
        margin-top: 50px;
    }
    .connectContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 50px;
        text-align: center;
    }
    #hours {
        margin-top: 50px;
    }
    #contactUs {
        margin-top: 50px;
        margin-bottom: -50px;
    }
    #footerNav,
    #footerSocials {
        display: none;
    }
    #footerLogo {
        margin-right: auto;
    }
    #footerSubscribe {
        margin: auto;
    }
    #hero img {
        max-height: 430px;
        width: 80vw;
    }
    #connectHeader {
        background-position: center right;
    }
    #checkoutEvents {
        justify-content: center;
    }
}